
  <mat-toolbar id="container">
    <!-- <span><s>Regression Tool</s></span> -->
    <button routerLink="File Content" class = "tab" type="button" mat-raised-button (click)="fileInput.click()">
      <input  hidden (change)="onFileSelected($event)" #fileInput type="file" id="fileButton" hidden/>
      <mat-icon>menu</mat-icon>

    </button>
    <span class="example-spacer"></span>

    <div id="tabs">
    <!-- <div class = "tab" routerLinkActive="active" routerLink="File Content">Table <mat-icon>view_comfy</mat-icon></div> -->

    <!-- <div>|</div> -->
    <div  class = "tab" (click)="regressionClicked()" >
      <mat-icon class="tabIcons" style="margin-left: 20px; margin-bottom: 8px;">equalizer</mat-icon> 
      <br>
      <span >Regression</span>
    </div>
    
  </div>


  </mat-toolbar>


