 #container {
    position: sticky;
    padding: 0px 10px;
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    height: 50px;
    border-color: rgb(255, 255, 255);
    border-style:outset;
    border-width: 5px;
}

.example-spacer {
    flex: 1 1 auto;
  }


#tabs {
    flex-grow: 1;
    display: flex;
    gap: 20px; 
}

.tab{
    cursor: pointer; 
    color: rgb(170, 170, 170);
}

.tab:hover{
    color: red;
}

.tab.active{
    color: rgb(255, 255, 255);
}






