$primary-color: #1976d2;
$hover-color: rgb(255, 251, 0);
$icon-transition: transform 0.25s ease-in-out;

#container{
    position: fixed;
    background-color: rgb(255, 0, 0);
    height: 91%;
    // width: 2%;
    right: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;

    #duckControl{
    position: sticky;
    background-color: $primary-color;
    height: 100%;
    width: 30px;
    left: 0;
    border-style: groove;

    #duckIcon{
        position: relative;
        top: 50%;
        left: 0;
        font-size: 200%;
        border-style:ridge;
        background-color: $primary-color;
        color: white;
    }

        #duckIcon:hover{
            transform: scale(1.2);
            transition: $icon-transition;
        }
    }





}


.openedMainSection{
    width: 100%;

}

.closedMainSection{
    width: 100%;
}

.firstMatIconActive{
    display: block;
}
.firstMatIconInactive{
    display: none;
}
.secondMatIconActive{
    display: block;
}
.secondMatIconInactive{
    display: none;
}

