 <section>


  <div class="optionsContainer">
  
    <form [formGroup]=" columnsForm" (ngSubmit)="fetch_columns()">

      <div class = "plotOptions" >
        <label>x-axis: </label>
        <select  formControlName="xLabel">
          <option value="">Select x-axis</option>
            <option *ngFor="let item of columns" [value]="item" >{{item}}</option>
        </select>
      </div>

       <div class = "plotOptions" >
      <label>y-axis: </label>
      <select  formControlName="yLabel">
        <option value="">Select y-axis</option>
          <option *ngFor="let item of columns" [value]="item" >{{item}}</option>
      </select>
      </div>
           
      <div class = "plotOptions">
        <button class="button" type="submit">submit columns</button>
      </div>
      
      </form>    
      
      <div id="graphControl">
        <div class = "plotOptions">
          <label>Errorbars: </label>
          <input 
            type="checkbox"
            (change)="checkbox($event)"/>
        </div>
        <div class = "plotOptions">
          <button class="button" type="">Export Chart</button>
        </div>
      </div>
    
  </div>

</section>
  
<section>

  <div id="chartTab">
    <mat-tab-group  (selectedIndexChange)="selectedOrder($event)" dynamicHeight>
      <mat-tab class = "mat" label="First"> 
        Content1
        <div *ngIf="dataLoaded === true" class="plotsMainDiv" id="plotDiv">
          <plotly-plot [data]="graph" [layout]="layout" [config]="config"  [updateOnDataChange] ="true"></plotly-plot> 
      </div> 
      </mat-tab>
      <mat-tab label="Second"> 
        Content 2 
        <div *ngIf="dataLoaded === true" class="plotsMainDiv" id="plotDiv">
          <plotly-plot [data]="graph2" [layout]="layout" [config]="config"  [updateOnDataChange] ="true"></plotly-plot> 
      </div> 
      </mat-tab>
      <mat-tab label="Third"> 
        Content 3 
        <div *ngIf="dataLoaded === true" class="plotsMainDiv" id="plotDiv">
          <plotly-plot [data]="graph3" [layout]="layout" [config]="config"  [updateOnDataChange] ="true"></plotly-plot> 
      </div> 
      </mat-tab>
      <mat-tab label="Fourth"> 
        Content 4 
        <div *ngIf="dataLoaded === true" class="plotsMainDiv" id="plotDiv">
          <plotly-plot [data]="graph4" [layout]="layout" [config]="config"  [updateOnDataChange] ="true"></plotly-plot> 
      </div> 
      </mat-tab>
    </mat-tab-group>
  
  </div>
  
</section>




