<section id="csvTable"> 
  <table id="csvRoot1"></table>
</section>

 <section id="mainSection" [ngClass]="mainSectionActive">
  
  <div id="mainSectionDuckControl" >
    <div id="mainSectionDuckIcon">
        <mat-icon [ngClass]="switchMatIcon1" (click)="mainSectionOpenDuckerClicked()">first_page</mat-icon>
        <mat-icon [ngClass]="switchMatIcon2" (click)="mainSectionCloseDuckerClicked()">last_page</mat-icon>
    </div>
</div>

<div id="switchTab">
<div></div>
</div>

<div id="mainOptionsContainer" [ngClass]="mainOptionsActive">
  <div id="mainOptionsDuckControl" >
    <div id="mainOptionsDuckIcon">
        <mat-icon [ngClass]="switchMatIcon3" (click)="mainOptionsOpenDuckerClicked()">last_page</mat-icon>
        <mat-icon [ngClass]="switchMatIcon4" (click)="mainOptionsCloseDuckerClicked()">first_page</mat-icon>
    </div>
</div>

    <div class="innerOptionsContainer">
    <form [formGroup]=" columnsForm" (ngSubmit)="fetch_columns()">

      <div class = "plotOptions" >
        <label>x-axis: </label>
        <select  formControlName="xLabel">
          <option value="">Select x-axis</option>
            <option *ngFor="let item of columns" [value]="item" >{{item}}</option>
        </select>
      </div>

       <div class = "plotOptions" >
      <label>y-axis: </label>
      <select  formControlName="yLabel">
        <option value="">Select y-axis</option>
          <option *ngFor="let item of columns" [value]="item" >{{item}}</option>
      </select>
      </div>
           
      <div class = "plotOptions">
        <button class="button" type="submit">submit columns</button>
      </div>
      
      </form>    
      
      <div id="graphControl">

<div class = "plotOptions">
  <select (change)="selectedOrder($event)">
    <option *ngFor="let item of availableOrders"  [value]="item">{{item}}</option>
  </select>
</div>

        <div class = "plotOptions">
          <label>Errorbars: </label>
          <input 
            type="checkbox"
            (change)="checkbox($event)"/>
        </div>
        <div class = "plotOptions">
          <button class="button" type="">Export Chart</button>
        </div>
      </div>
  </div>


</div>


<section id="graphSection">

  <div id="chartTab">
    <div *ngIf="dataLoaded === true" class="plotsMainDiv" id="plotDiv">
      <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config"  [updateOnDataChange] ="true"></plotly-plot> 
  </div> 
  </div>
  
</section>


</section>
  




